* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --bg-gray: #efefef;
  --bg-lightgray: #f7f7f7;
  --white: #fff;
  --black-text: #333;
  --blue-link: #5fc5fc;
  --gray: #ccc;
  --bg-tablet-menu: #556270;
  --text-green: #34BE82;

  --sans-serif-font: 'Nunito', sans-serif;
  --serif-font: 'Crete Round', serif;
}



@media only screen and (min-width: 992px) {
  .f-serif {
    font-family: var(--serif-font);
  }
}

/* header menu */
.bg-menu {
  background-color: var(--bg-tablet-menu);
}

.text-menu {
  color: var(--white);
}

.text-menu:hover {
  color: var(--text-green);
}

@media only screen and (min-width: 992px) {
  .bg-menu {
    background-color: var(--white);
  }

  .text-menu {
    color: var(--black-text);
  }
}

@media only screen and (max-width: 768px) {
  .text-menu {
    font-size: 12px !important;
  }
}

/* end header menu */

/* banner */
@media only screen and (min-width: 992px) {
  .banner-content {
    position: absolute;
    top: 11vw;
    left: 4.6vw;
  }

  .banner-content h1 {
    font-size: 4vw !important;
    letter-spacing: 0.3vw;
    color: var(--white) !important;
    text-shadow: 0 0 8px var(--black-text);
  }

  .banner-content p {
    margin-top: -0.5vw !important;
    font-size: 1.8vw !important;
    color: var(--white) !important;
    text-shadow: 0 0 8px var(--black-text);
  }
}

/* end banner */

/* #neighborhood-guides {
  max-width: 1360px;
  height: auto;
  margin: auto;
} */

/* #neighborhood-guides .title {
  width: 100%;
  height: auto;
  margin: 42px 0 22px;
}

#neighborhood-guides h2 {
  color: var(--black-text);


  font-size: 28px;
  font-family: var(--sans-serif-font);
} */

#neighborhood-guides p {
  margin-top: 8px;

  color: var(--black-text);

  font-size: 18px;
  font-family: var(--sans-serif-font);
}

#neighborhood-guides .guide-image-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  width: calc(100% + 34px);
  height: auto;
  margin: 0 -17px;
  padding-bottom: 32px;
}

#neighborhood-guides .col {
  width: calc(100% / 3);
  padding: 0 22px;
}

#neighborhood-guides .col img {
  display: block;
  width: 100%;
}

#neighborhood-guides .col img+img {
  margin-top: 38px;
}

footer {
  width: 100%;
  height: auto;
  padding: 40px 0 50px;
  margin-top: 8px;

  background-color: var(--bg-lightgray);

  border-top: 1.5px solid var(--gray);
}

footer .container {
  display: flex;
  justify-content: space-between;

  max-width: 1420px;
  height: auto;
  margin: auto;
  padding: 8px;
}

footer .box {
  width: calc(100% / 3);
  height: auto;
  padding: 0 22px;
}

footer h3 {
  color: var(--black-text);

  font-size: 22px;
  font-family: var(--serif-font);
}

footer p {
  margin-top: 14px;
  color: var(--black-text);

  font-size: 17.5px;
  font-family: var(--sans-serif-font);
}

footer a {
  display: inline-block;

  padding: 12px 0;
  color: var(--blue-link);

  font-size: 18px;
  font-family: var(--sans-serif-font);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}