@media only screen and (min-width: 768px) {

  /* For Tablet */
  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }

  #header {
    background: var(--bg-mobile-menu);
    padding: 0 20px;
  }

  #header ul {
    list-style-type: none;
  }

  #header li {
    display: inline-block;
  }

  #header a {
    height: 90px;
    padding: 0 10px;

    color: var(--white);

    line-height: 90px;
    font-size: 14px;
    font-family: var(--sans-serif-font);
    text-decoration: none;
    text-transform: uppercase;
  }

  #header li.menu-right {
    float: right;
  }

  #header li.menu-right a:last-child {
    padding-right: 10px;
  }

  #banner {
    width: 100%;
  }

  #banner .content {
    padding: 60px 24px 0;
  }

  #banner h1 {
    color: var(--black-text);

    font-size: 38px;
    font-family: var(--sans-serif-font);
    font-weight: bolder;
  }

  #banner p {
    margin-top: 26px;

    color: var(--black-text);

    font-size: 15px;
    font-family: var(--sans-serif-font);
  }

  #banner hr {
    margin-top: 33px;

    background: var(--gray);

    height: 0.5px;
  }

  #neighborhood-guides {
    width: 100%;
    padding: 0 16px;
    background: var(--white);
  }

  #neighborhood-guides .title {
    padding: 42px 8px 42px;
  }

  #neighborhood-guides h2 {
    color: var(--black-text);

    font-size: 38px;
    font-family: var(--sans-serif-font);
    font-weight: bolder;
  }

  #neighborhood-guides p {
    margin-top: 8px;

    color: var(--black-text);

    font-size: 15px;
    font-family: var(--sans-serif-font);
  }

  #neighborhood-guides img {
    width: 100%;
    margin-bottom: 56px;
  }

  #footer {
    width: 100%;
    padding: 0 24px;
    background: var(--white);
  }

  #footer h3 {
    margin-top: 13px;
    color: var(--black-text);

    font-size: 38px;
    font-family: var(--sans-serif-font);
    font-weight: bolder;
  }

  #footer p {
    margin-top: 6px;

    color: var(--black-text);

    font-size: 15px;
    font-family: var(--sans-serif-font);
  }

  #footer a {
    display: inline-block;

    margin-bottom: 64px;
    padding: 10px 0;
    color: var(--blue-link);

    font-size: 15px;
    font-family: var(--sans-serif-font);
  }
}