@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

:root {
  --bs-font-sans-serif: 'Be Vietnam Pro', sans-serif;
}

/* .font-logo {
  font-family: 'Fredoka One', cursive;
}

.font-title {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
} */